@import url('https://fonts.googleapis.com/css2?family=Hahmlet&family=Noto+Sans+KR:wght@500&display=swap');

* {margin: 0;  
   padding:0;
   box-sizing: border-box;
   
}

body {  
    width: 100%;   
    font-family: 'Hahmlet', serif;
    text-align: center;
    align-content: center; 
    display: flex;
    justify-content: center;
    height: 100vh;
    background: #fff
   
}

    .cov {
        position: fixed;  
        width: 100%; 
        height:80px; 
        background: #87CEFA; 

    }

    .cov h2{
        position: fixed; 
        text-align: left;
        width: 100%; 
        margin-top: 10px;
        margin-left: 10px;
        color: #fff;
        font-size: 40px;

    }


    .cov .title p { 
        margin-top:80px;
        font-size: 50px; 
        padding: 0px; 
        text-align: center; 
        color: rgb(11, 11, 11); 
        

    }


    .cov .imgBox img {
        width: 100%; 
        height: 500px;
        border: 7px solid #87CEFA;  
        border-radius: 5px; 
        margin-top: 0;
       
    }

    .cov .inform  {
        background:#fff; 
        width:100%; 
        height: 190px;  
        border: 7px solid #87CEFA;  
        border-radius: 5px; 
        margin-top:1px;
        font-size: 30px; 
        color:rgb(8, 8, 8);
       
    }
