<!DOCTYPE html>
<html lang = "ko">
<head>
    {% load static %}
    <title>보금자리</title>
    <link rel="stylesheet" href="{% static 'main/conv.css'%}">
</head>
<body>
    {% for content in contents %}   
    <div class="cov">
       <h2>편의시설</h2>     
            <div class="title">
                <strong>{{content.title}}</strong>
            </div>
            <div class="imgBox">
                <img src="{% static 'main/yogum.png'%}">
            </div>
            {% for content in contents %}           
            <div class="inform">
                <p>위치: {{content.location}}</p>
                <p>이용시간: {{content.time}}</p>
                <p>이용요금: {{content.cost}}</p>
                <p>연락처: {{content.number}}</p>
            </div>   
            {% endfor %}       
    </div>
    {% endfor %}
</body>
</html>
