<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>stickcode_Reactive</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/index.css'%}">
</head>

<!--상단바----------------------------------------------------------------------------------------------------------------------------->

<body>
<div id="headi"><!-- 상단바 고정 -->
    보금자리

    <div class="box">
        <button type="button" class="btm_image; float-right" id="img_btn">
            <img src="{% static 'main/alram.png'%}" height="50px">
        </button>
    </div>

    <div class="box">
        <button type="button" class="btm_image; float-right" id="img_btn">
            <img src="{% static 'main/user.png'%}" height="50px">
        </button>
    </div>

</div>


<div id="header_serve"></div><!-- 상단바 고정시 필요한 공백 추가 -->


<!--공지----------------------------------------------------------------------------------------------------------------------------->


<div id="notice">공지

    {% for notice in notices %}
    <div class="title">
        {{notic.title}}
    </div>

    <div class="contents"><!--공지 내용-->
        <td>{{notice.content}}</td>

        {% endfor %}
    </div>
</div><!--공지 제목-->


<!--바로가기----------------------------------------------------------------------------------------------------------------------------->


<div id="text">바로가기</div>
<div id="main">

    <div class="box">
        <button type="button" class="btm_image" id="img_btn">
            <img src="{% static 'main/car.png'%}" height="200px">
        </button>
        <p>
            주차
        </p>
    </div>

    <div class="box">
        <button type="button" onclick="location.href='graph/gas/both'" class="btm_image" id="img_btn">
            <img src="{% static 'main/yogum.png'%}" height="200px">
        </button>
        <p>
            가스요금
        </p>
    </div>

    <div class="box">
        <button type="button" onclick="location.href='electricity_index.html'" class="btm_image" id="img_btn">
            <img src="{% static 'main/yogum.png'%}" height="200px">
        </button>
        <p>
            전기요금
        </p>
    </div>

    <div class="box">
        <button type="button" class="btm_image" id="img_btn">
            <img src="{% static 'main/pyen.png'%}" height="200px">
        </button>
        <p>
            편의시설
        </p>
    </div>
    <div class="box">
        <button type="button" onclick="location.href='list.html'" class="btm_image" id="img_btn">
            <img src="{% static 'main/sotong.png'%}" height="200px">
        </button>
        <p>
            자유게시판
        </p>
    </div>

    <div class="box">
        <button type="button" class="btm_image" id="img_btn">
            <img src="{% static 'main/sotong.png'%}" height="200px">
        </button>
        <p>
            공지사항
        </p>
    </div>

    <div class="box">
        <button type="button" class="btm_image" id="img_btn">
            <img src="{% static 'main/minwon.png'%}" height="200px">
        </button>
        <p>
            민원
        </p>
    </div>

    <div class="box">
        <button type="button" class="btm_image" id="img_btn">
            <img src="{% static 'main/alram.png'%}" height="200px">
        </button>
        <p>
            여긴뭐하지
        </p>
    </div>
</div>


<!--일정----------------------------------------------------------------------------------------------------------------------------->


<div id="text">주간일정</div>
<footer>
    {% for plan in plans %}<!--당일날 포함 7개(일주일)의 일정을 담은 데이터 전달 받기-->
    <div class="plan">
        {{plan.date}}<!--일정 날짜-->
    </div>

    <div class="content_plan">
        {{plan.content}}<!--날짜에 따른 일정-->
    </div>

    {% endfor %}
    <!--
<div class="plan">   g</div>
<div class="content_plan">
    g
</div>

<div class="plan">화</div>
<div class="content_plan">
   g
</div>

<div class="plan">수</div>
<div class="content_plan">
   g
</div>

<div class="plan">목</div>
<div class="content_plan">
    g
</div>

<div class="plan">금</div>
<div class="content_plan">
   g
</div>

<div class="plan">토</div>
<div class="content_plan">
    g
</div>

<div class="plan">일</div>
<div class="content_plan">
    g
</div>


-->


</footer>
</body>
</html>
