<!DOCTYPE html>
<html lang="ko">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ board_type.name }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/css.css'%}">
</head>
<body>
<div class="board_wrap">
    <div>
        <a href="/main" class="bt_wrap1">홈 화면</a>
    </div>
    <div class="board_title">
        <strong>{{ board_type.name }}</strong>
        <p>{{ board_type.description }}</p>
    </div>
    <div class="board_list_wrap">
        {% if board_list %}
        <div class="board_list">
            <div class="top">
                <div class="num">번호</div>
                <div class="title">제목</div>
                <div class="writer">글쓴이</div>
                <div class="date">작성일</div>
            </div>
            {% for each in board_list %}
            <div>
                <div class="num">{{each.id}}</div>
                <div class="title"><a href="/main/board/{{ each.id }}">{{ each.title }}</a></div>
                <div class="writer">{{each.auther.username}}</div>
                <div class="date">{{each.date}}</div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p>빈 공간 입니다.</p>
        {% endif %}

        <div class="board_page">
            <a href="#" class="bt first"><<</a>
            <a href="#" class="bt prev"><</a>
            <a href="#" class="num on">1</a>
            <a href="#" class="bt next">></a>
            <a href="#" class="bt last">>></a>
        </div>
        {% if board_type.id != 1 %}
        <div class="bt_wrap">
            <a href="/main/board/write/{{ board_type.id }}" class="on">등록</a>
        </div>
        {% endif %}
    </div>
</div>
</body>
</html>