<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'main/security.css'%}">

</head>

<!--상단바----------------------------------------------------------------------------------------------------------------------------->
  
<body>
    <div id="headi"><!-- 상단바 고정 -->
        보금자리

    </div>

    <div id="header_serve"> </div><!-- 상단바 고정시 필요한 공백 추가 -->


{% for todo in todos %}
<div id="notice">
    {{todo.date}}


        <div class="title">
            {{todo.title}}
        </div>

        <div class="contents">
            {{todo.content}}
            
        </div>

        <div id="bt">
            
          
          {%if todo.do == 'need' %}
          <div id="bt">
            <div class="div1"><input type="submit" onclick="location.href='{{todo}}/need'" value="필요"></div>
            <div class="div2"><input type="submit" onclick="location.href='{{todo}}/ing'" value="처리중"></div>
            <div class="div2"><input type="submit" onclick="location.href='{{todo}}/end'" value="완료"></div>
        </div>
          {%elif todo.do == 'ing' %}
          <div id="bt">
            <div class="div2"><input type="submit" onclick="location.href='{{todo}}/need'" value="필요"></div>
            <div class="div1"><input type="submit" onclick="location.href='{{todo}}/ing'" value="처리중"></div>
            <div class="div2"><input type="submit" onclick="location.href='{{todo}}/end'" value="완료"></div>
        </div>
           {%elif todo.do == 'end' %}
           <div id="bt">
            <div class="div2"><input type="submit" onclick="location.href='{{todo}}/need'" value="필요"></div>
            <div class="div2"><input type="submit" onclick="location.href='{{todo}}/ing'" value="처리중"></div>
            <div class="div1"><input type="submit" onclick="location.href='{{todo}}/end'" value="완료"></div>
        </div>
          {% endif %}


        </div>
      
</div>
{% endfor %}

    </body>
    </html>
