<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'main/security.css'%}">

</head>

<!--상단바----------------------------------------------------------------------------------------------------------------------------->
  
<body>
    <div id="headi"><!-- 상단바 고정 -->
        보금자리

    </div>

    <div id="header_serve"> </div><!-- 상단바 고정시 필요한 공백 추가 -->


{% for todo in todos %}
<div id="notice">
    {{todo.deadline}} 까지


        <div class="title">
            {{todo.title}}
        </div>

        <div class="contents">
            {{todo.contents}}
            
        </div>

        <div id="bt">
            
          
          {%if todo.status == 0 %}
          <div id="bt">
            <div class="div1" onclick="location.href='/security/todo/{{todo.id}}/0'">필요</div>
            <div class="div2" onclick="location.href='/security/todo/{{todo.id}}/1'" >처리중</div>
            <div class="div2" onclick="location.href='/security/todo/{{todo.id}}/2'">완료</div>
        </div>
          {%elif todo.status == 1 %}
          <div id="bt">
            <div class="div2" onclick="location.href='/security/todo/{{todo.id}}/0'">필요</div>
            <div class="div1" onclick="location.href='/security/todo/{{todo.id}}/1'" >처리중</div>
            <div class="div2" onclick="location.href='/security/todo/{{todo.id}}/2'">완료</div>
        </div>
           {%elif todo.status == 2 %}
           <div id="bt">
            <div class="div2" onclick="location.href='/security/todo/{{todo.id}}/0'">필요</div>
            <div class="div1" onclick="location.href='/security/todo/{{todo.id}}/1'" >처리중</div>
            <div class="div2" onclick="location.href='/security/todo/{{todo.id}}/2'">완료</div>
        </div>
          {% endif %}


        </div>
      
</div>
{% endfor %}

    </body>
    </html>
