<!DOCTYPE html>
<html lang="ko">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>글쓰기 페이지</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/css.css'%}">
</head>
<body>
    <div class="board_wrap">
        <div class="board_title">
            <strong>글쓰기 페이지</strong>
            <p>자신의 내용을 적어보아요!</p>
        </div>
        <div class="board_write_wrap">
        <form action="/main/board/write/{{ board_id }}/submit" method="POST">
            {% csrf_token %}
            <div class="board_write">
                <div class="title">
                    <dl>
                        <dt>제목</dt>
                        <dd><input type="text" name="postname" placeholder="제목을 입력하세요"></dd>
                    </dl>
                </div>
                <div class="info">
                        <span style="font-size: 0.7rem;">작성자 익명으로 할 지 선택하시오</span>
                        <input type="checkbox" name="anonymous" values="y">
                </div>
                <div class="cont">
                    <textarea rows="10" cols="50" name="contents" placeholder="내용을 입력하세요"></textarea>
                </div>
            </div>

            </div>
            <div class="bt_wrap">
                <input type="submit" value="등록">
                <a href="list.html">취소</a>
            </div>
        </form>
        </div>
    </div>
</body>
</html>